{% extends "revision/base.html"%}
{% block content %}
<h2>All Moviews</h2>
<table border="">
    <tr>
        <th>title</th>
        <th>Director</th>
        <th>View Details</th>
    </tr>
    {% for movie in movies %}
    <tr>
        <td>{{movie.title}}</td>
        <td>{{movie.director}}</td>
        <td><a href="{% url 'movie_detail' movie.pk%}">view details</a></td>
    </tr>
    {% endfor %}
</table>
<div>
    {% if movies.has_previous %}
    <a href="?page={{movies.previous_page_number}}">Previous</a>
    {% endif %}
    <span> Page {{movies.number}} of {{movies.paginator.num_pages}}</span>
    {% if movies.has_next %}
    <a href="?page={{movies.next_page_number}}">Next</a>
    {% endif %}
</div>
{% endblock%}