<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us </title>
</head>
<body style="font-family: cursive;"> 
    <input type="button" value="click here " style="
    height:40px;
    width:120px;
    text-align:center;
    font-size:18px;
    border-radius:5px;
    color:white;
    background-color: purple;
    border:1px solid gainsboro;">
    <h1 style="color:blueviolet;
    text-align:center;">About us  df</h1>
    <hr>
    
    <div style="height:100px;width:100px;background-color:orange;
    border:1px dotted black;
    border-radius:50%;">

    </div>

    <div style="height:100px;width:100px;background-color:orange;
    border:1px dotted black;
    border-top-right-radius:25px;">

    </div>
    <div style="height:100px;width:100px;background-color:orange;
    border:1px dotted black;
    border-top-right-radius:25px;
    border-bottom-left-radius:25px;">

    </div>
    <div style="width:500px;background-color: rgb(157, 250, 58);
    letter-spacing:2px;
    word-spacing:10px;
    line-height: 25px;
    text-align: center;
    border:2px solid red;
    border-radius: 5px;
    ">
        Lorem, ipsum dolor sit amet <br>
        consectetur adipisicing elit. <br>
         Rerum quod facere ad, porro repudiandae fuga provident id maxime voluptatibus, veniam tenetur laboriosam ex repellat neque dolores cum velit possimus sint.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente quas officia numquam provident ad? Est unde nihil reiciendis nulla rerum quasi dolores doloremque fugit, dolore ex impedit cupiditate sapiente earum.
    </div>
    <p style="background-color: yellowgreen;">
        key: value; key:value; 
       style="background-color: rgb(182, 130, 230);"
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores explicabo in, ipsa animi, tenetur dolorum consectetur quas sed quidem modi nostrum culpa aut aliquam quis, optio ad accusamus quos autem?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit corporis quis dolorum dolore beatae, quisquam numquam nobis magnam eius qui pariatur placeat, aperiam porro error. Magni eos possimus quo facilis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi error similique soluta nam officia accusamus exercitationem itaque impedit animi. Minus iure veniam maiores quibusdam placeat amet nemo totam tempore vel.
    </p>
</body>
</html>